*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #cecece;
    color:#303030;
}
.container{
    width:100%;
    height:100%;
}
.header{
    margin:0 0 20px 0;
    background-color: #5abb33;
    border-bottom-left-radius: 20% ;
    border-bottom-right-radius: 20% ;
    text-align: right;
    padding: 15px 10px 25px 0;
    color: whitesmoke;
    text-shadow: 3px 3px 5px #0000008f;
    box-shadow: 3px 5px 10px #0000008f;
    text-decoration: none;
}
.wyloguj{
    color: whitesmoke;
    text-decoration: none;
}
.wyloguj:hover {
    color:#3848ff;
    text-shadow: none;
}
.header h1{
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 0px 2px 5px #0000008f;
    
}
.footer{
    position: absolute;
    bottom:0;
    text-align: center;
    margin: 0 0 0 45%;
    font-size: 15px;
}
.footer p{
    text-align: center;
    position: relative;
}
.main{
    background-color: #ababab;
    opacity: 75%;
}
.main1{
    justify-content: center;
    display: flex;   
}
.main input{
    padding: 5px 10px 5px 10px; 
    border-radius:10px ;
    border: 2px solid #fff;
    height: 50px;
    width: 350px;
    font-size: 20px;  
    border: 2px solid #ababab;
}
.main{
    padding: 40px 30px 30px 30px;
    border-radius: 20px;
}
button a{
    color:#303030;
    text-decoration: none;
}
.checklogin {
    text-align: center;
}
.checklogin input{
    padding: 10px 20px 10px 20px;
    border: 2px solid #ababab;
}
.register{
    text-align: center;
}
.register button{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 2px solid #fff;
}